<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>idol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/default.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/idol-list.css">
  </head>
  
  <body>
    <div class="body">
      <div class="contents">
        <h1>idol-list</h1>
        <div id="dynamic-list" class="img-title-tag-list"></div>
    </div>
  </body>
  <script src="../js/parse.min.js"></script>
  <script src='../js/parseApis.js'></script>
  <script src='../js/idol-list.js'></script>
  <script>getIdolList();</script>